.home-container {
  display: flex;
  flex-direction: column;
}

.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 24px;
}

.filters-box {
  display: flex;
  padding: 24px;
}

.filters-item {
  margin: 12px;
}
